* {
  margin: 0;
  padding: 0;
}

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-color {
  color: #0D1321;
}

/* nav bar styles  */
nav ul {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 50px 150px;
  align-items: center;

}

nav ul li {
  list-style: none;

}

nav li a {
  text-decoration: none;

}

.nav-bar {
  font-size: 28px;
  font-weight: 800;
}

.navbar-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0D1321;
  cursor: pointer;
}

/* hero section  */
.hero {
  background-image: url('../assets/Hero-bg.png');
  text-align: center;

}

.hero-section {
  margin: 24px 221px 45px 221px;
}

.hero-img {
  margin-top: 24px;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}

.hero-btn {
  font-size: 20px;
  color: #fff;
  background-color: black;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 45px;
}

/* main section style  */
.web-developer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-left: 148px;
  margin-right: 148px;


}

.web-dev-container {
  padding: 80px 97px;
}

.web-dev-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}

.web-dev-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
  text-wrap: wrap;
  text-align: center;

}

.web-dev-items1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 48px;
}

.web-dev-items2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 48px;
}

.web-dev-items3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  margin-bottom: 100px;
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 48px;

}

.item-title {
  color: rgba(13, 19, 33, 0.70);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.item-description {
  color: #0D1321;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 44px;
}

.btn-item {
  padding: 12px 20px;
  border: 1px solid #0D1321;
  background-color: #fff;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
}

/* inspiration-container */
.inspiration-container {
  margin: 90px 150px 150px 150px;
}

.inspiration-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}

.inspiration-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
  text-wrap: wrap;
  text-align: center;
  padding-left: 144px;
  padding-right: 144px;
}

.inspiration-link {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.20);
}

.link-video {
  width: 980px;
  height: 550px;
  border-radius: 16px;
}

/* current-title  */
.current-target-container {
  margin: 152px 150px 111px 150px;
}

.current-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.current-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  color: #0D1321;
  text-wrap: wrap;
  padding: 24px 144px;
  margin-bottom: 48px;
}

.current-items {
  display: flex;
  gap: 24px;
}

.current-item1 {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}

.current-item2 {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}

.current-item3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 40px;
}

.item-title {
  color: #0D1321;
  font-size: 24px;
  font-weight: 800;

}

.item-description {
  color: #0D1321;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

.item-link {
  color: #0D1321;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* next target section style  */
.next-target-container {
  margin: 152px 150px 111px 150px;
}

.next-target-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.next-target-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  margin-top: 24px;
  padding: 0px 144px;
  margin-bottom: 48px;
}

.next-items {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #FFF;
  margin-bottom: 24px;
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 24px;
}

.next-item-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

.next-item-description {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 24px;
}

.next-item-link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

/* Support-container */
.Support-container {

  border-radius: 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../assets/handshake.jpg') lightgray 50%;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 80px;
  padding: 64px 48px;
  text-align: center;
}

.Support-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.Support-description {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  text-wrap: wrap;
  margin-top: 18px;
}

.Support-container input[type="text"] {
  width: 548px;
  padding: 19px 20px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #FFF;
  font-size: 16px;
  font-weight: 400;
  color: rgba(13, 19, 33, 0.40);
  ;

}

.Support-container input[type="submit"] {
  padding: 17px 20px;
  border-radius: 8px;
  background: #FFF;
  color: #0D1321;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 24px;
}

/* footer section  */
footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 32px 150px;
  align-items: center;
}

.footer-description {
  font-size: 20px;
  font-weight: 600px;
}

.footer-img {
  margin-right: 24px;
}
