* {
  margin: 0;
  padding: 0;
}

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-color {
  color: #0D1321;
}

/* nav bar styles  */
nav ul {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 50px 150px;
  align-items: center;

}

nav ul li {
  list-style: none;

}

nav li a {
  text-decoration: none;

}

.nav-bar {
  font-size: 28px;
  font-weight: 800;
}

.navbar-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0D1321;
}

/* hero section  */
.hero {
  background-image: url('../assets/Hero-bg.png');
  text-align: center;

}

.hero-section {
  margin: 24px 221px 45px 221px;
}

.hero-img {
  margin-top: 24px;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}

.hero-btn {
  font-size: 20px;
  color: #fff;
  background-color: black;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 45px;
}

/* main section style  */
.web-developer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-left: 148px;
  margin-right: 148px;


}

.web-dev-container {
  padding: 80px 97px;
}

.web-dev-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}

.web-dev-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
  text-wrap: wrap;
  text-align: center;

}

.web-dev-items1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 48px;
}

.web-dev-items2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 48px;
}

.web-dev-items3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  margin-bottom: 100px;
  border-radius: 16px;
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 48px;

}

.item-title {
  color: rgba(13, 19, 33, 0.70);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.item-description {
  color: #0D1321;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 44px;
}

.btn-item {
  padding: 12px 20px;
  border: 1px solid #0D1321;
  background-color: #fff;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
}

/* inspiration-container */
.inspiration-container {
  margin: 90px 150px 150px 150px;
}

.inspiration-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}

.inspiration-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
  text-wrap: wrap;
  text-align: center;
  padding-left: 144px;
  padding-right: 144px;
}

.inspiration-link {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.20);
}

.link-video {
  width: 980px;
  height: 550px;
  border-radius: 16px;
}
